#contents
	#sessions
		.sessions-new
			.login-content
				- if action_name == "create"
					.alert.alert-danger
						メールアドレスまたはパスワードが正しくありません

				= form_for @user, url:sessions_path, method: :post do |f|
					%h3
						ログイン
					.form-body
						.form-group
							= f.label :email, "メールアドレス", class: "control-label"
							= f.text_field :email, class: "form-control"
						.form-group
							= f.label :password, "パスワード:4文字以上", class: "control-label"
							= f.password_field :password, class: "form-control"
							%div
								= f.submit "ログイン", class: "red-btn"
								= link_to root_path, class: "signup" do
									会員登録する
						.clear