#contents
  .my-timeline
    .my-timeline-header.table
      - if logged_in?
        %ul.table-cell.middle
          .float-left
            %li.media-theme
              #{current_user.name} のzangeとchigiri
          .float-right
            = link_to new_article_path do
              .red-btn
                %li.media-new-zange.center
                  New Zange
          .clear

    .my-timeline-items
      - @articles.each do |article|
        .my-timeline-item
          .media.table
            .media-left.table-cell.center
              = current_user.name
            .media-body.table-cell.middle
              .media-body-zange
                .media-category
                  Zange
                %p= article.title
              .media-body-chigiri
                .media-category
                  Chigiri
                %p= article.solution
            %ul.media-right.float-right.center
              %li.media-next
                =link_to '続きを読む', article
              %li.media-nums
                %i.fa.fa-bullhorn.float-left
                  0
                %i.fa.fa-check-square.float-left
                  0
              %li.red-btn.table
                .media-done.table-cell.middle.center
                  今日はできた！
            .clear





            

%h1 Listing articles

%table
  %thead
    %tr
      %th User
      %th Title
      %th Content
      %th Category
      %th Solution
      %th Deadline
      %th
      %th
      %th

  %tbody
    - @articles.each do |article|
      %tr
        %td= article.user_id
        %td= article.title
        %td= article.content
        %td= article.category
        %td= article.solution
        %td= article.deadline
        %td= link_to 'Show', article
        %td= link_to 'Edit', edit_article_path(article)
        %td= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

