#contents
  
  #timeline
    .timeline-header
      - if logged_in?
        %ul
          .float-left.table
            %li.media-theme.table-cell.middle.active
              みんなのZangeとChigiri
            =link_to current_user do
              %li.media-theme.table-cell.middle
                #{current_user.name}のZangeとChigiri
          .float-right.table
            .table-cell.middle
              = link_to new_article_path do
                .red-btn
                  .media-new-zange.center
                    New Zange
        .clear
    .timeline-items
      = div_for @articles, class: "timeline-item" do |article|
        .media.table
          .media-name.center
            = link_to article.user.name, user_path(article.user)
          .media-body.middle
            .media-body-zange
              .media-category
                =image_tag("sorry.png")
                Zange
              %p= article.title
            .media-body-chigiri
              .media-category
                =image_tag("promise.png")
                Chigiri
              %p= article.solution
          .media-bottom
            .media-next.center
              =link_to '続きを読む', article
            =link_to article_cheers_path(article), method: :post do
              .red-btn.float-left
                .media-cheer
                  %i.fa.fa-bullhorn
                    応援する!
            .media-nums.float-right
              %i.fa.fa-bullhorn.float-left
                = article.cheers.length
              %i.fa.fa-check-square.float-left
                = article.completions.length
              %i.fa.fa-comment-o.float-left
                = article.comments.length
          .clear




    