%p#notice= notice

#contents
  #zange-detail
    .detail-header
      - if logged_in?
        %ul.table
          %li.media-theme.float-left
            #{@article.user.name} のzangeとchigiri
          %li.float-right
            .btn-word
            = link_to '編集する', edit_article_path(@article)
          .clear

    .detail-item
      .media
        .media-category
          =image_tag("sorry.png")
          Zange
        .media-title
          %p= @article.title
        .media-category
          %p 
            カテゴリ:
            = @article.category
        .media-content
          %p
            = raw hbr(@article.content)
        .media-category
          =image_tag("promise.png")
          Chigiri
        .media-content
          %p
            = @article.solution
        .media-date
          %p
            = @article.deadline
            までのchigiri
        .media-btn
          - if current_user.id == @article.user_id
            =link_to article_completions_path(@article), method: :post do
              .red-btn.float-left
                .media-done
                  %i.fa.fa-check-square
                    できた！
          - else
            =link_to article_cheers_path(@article), method: :post do
              .red-btn.float-left
                .media-cheer
                  %i.fa.fa-bullhorn
                    応援する!
        .media-nums.float-right
          %i.fa.fa-bullhorn.float-left
            = @article.cheers.length
          %i.fa.fa-check-square.float-left
            = @article.completions.length
          %i.fa.fa-comment-o.float-left
            = @article.comments.length
    = link_to articles_path do
      .media-back
        戻る


  #comments
    .comments-header
      応援や共感のコメント一覧
    .comments-wrapper
      - if @article.comments.empty?
        .comment
          まだコメントはありません。
      - @article.comments.each do |comment|
        .comment
          .comment-user
            name:
            = comment.user.name
          .comment-content
            = comment.content
    .comment-form
      = form_for ([@article, @article.comments.build]) do |f|
        .field
          = f.label :content, "応援や共感をコメントしてあげよう！"
        .field
          = current_user.name
          = f.text_area :content, class: "form-control"
        .actions.center
          = f.submit 'コメントする', class: "comment-submit"
