%p#notice= notice

#contents
  #zange-detail
    .detail-header.table
      - if logged_in?
        %ul.table-cell.middle
          %li.media-theme.float-left
            #{current_user.name} のzangeとchigiri
          %li.float-right
            .btn-word
            = link_to '編集する', edit_article_path(@article)
          .clear

    .detail-item
      .media
        .media-category
          Zange
        .media-title
          %p= @article.title
        .media-category
          %p 
            カテゴリ:
            = @article.category
        .media-content
          %p
            = raw hbr(@article.content)
        .media-category
          Chigiri
        .media-content
          %p
            = @article.solution
        .media-date
          %p
            = @article.deadline
            までのchigiri
        .media-btn
          - if current_user.id == @article.user_id
            =link_to article_completions_path(@article), method: :post do
              .red-btn.float-left
                .media-done
                  %i.fa.fa-check-square
                    できた！
          - else
            =link_to article_cheers_path(@article), method: :post do
              .red-btn.float-left
                .media-cheer
                  %i.fa.fa-bullhorn
                    応援する!
        .media-nums.float-right
          %i.fa.fa-bullhorn.float-left
            = @article.cheers.length
          %i.fa.fa-check-square.float-left
            = @article.completions.length
    = link_to articles_path do
      .media-back
        戻る
