%p#notice= notice

%p
  %b User:
  = @article.user_id
%p
  %b User-name
  = @article.user.name
%p
  %b Title:
  = @article.title
%p
  %b Content:
  = @article.content
%p
  %b Category:
  = @article.category
%p
  %b Solution:
  = @article.solution
%p
  %b Deadline:
  = @article.deadline

= link_to 'Edit', edit_article_path(@article)
\|
= link_to 'Back', articles_path
