#top.center
	%h1
		昨日の自分にさよなら
		%br
			おはよう、あたらしい自分
	%h3
		懺悔して、契りを結んで、実行する
		%br
			毎日がちょっとずつ明るくなる
	.regist-box
		%h4
			懺悔したいことがあるなら、今すぐはじめよう
		- @user.errors.each do |attr, message|
			.alert.alert-danger= message

		= form_for @user, url: registrations_path, method: :post do |f|
			.field
				= f.label :name, "Username", class: "control-label"
				= f.text_field :name, class: "form-control"
			.field
				= f.label :email, "Email", class: "control-label"
				= f.text_field :email, class: "form-control"
			.field
				= f.label :password, "パスワード", class: "control-label"
				= f.password_field :password, class: "form-control"
			.field
				= f.label :password_confirmation, "パスワード(確認)", class: "control-label"
				= f.password_field :password_confirmation, class: "form-control"
			.field
				= f.submit "zange開始"
		%p
			アカウントをお持ちのかたはこちらから
			= link_to "ログイン", new_sessions_path, class: "login"

#contents
	.explanations
		%h1.center
			What is Zange?
		%h2.center
			懺悔をして、契りを結んで、反省を行動に移そう。
		.explanation.float-left
			=image_tag("sorry.png")
			=image_tag("promise.png")
			%h3.center
				STEP1
			%p.center
				懺悔したい事実(Zange)と、
				%br 毎日実行する行動(Chigiri)を書いて、	決意しましょう。
		.explanation.float-left
			=image_tag("check.png")
			=image_tag("bullhorn.png")
			%h3.center
				STEP2
			%p.center
				Chigiriを毎日できたか
				%br チェックしましょう。
				%br また、みんなを応援しましょう。
		.explanation.float-left
			=image_tag("twitter.png")
			=image_tag("shock.png")
			%h3.center
				STEP3
			%p.center
				Chigiriを守れないと、
				%br 自動的にtweetされます。
		.clear



